<h1 class="animated fadeIn fast">Sobre Comics app</h1>
<hr>

<p class="animated fadeIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In sequi culpa placeat quae, ratione dignissimos nisi possimus. Magni asperiores, itaque eum porro, laborum voluptatem nam ea ab odio optio ad.</p>

<hr>

<form class="animated fadeIn">
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>